# Python stuff
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# Project Specific
.env
*.log
*.json
!README.md
!requirements.txt

# Media Folders (Ignore the actual videos)
Uploads/
processed/
temp/
attention/
analyzed/
analyzer_inbox/
intros/
outros/
